<h1>Create New Duck</h1>


<%= form_for @duck do |f|%>

  <%= f.label 'Name' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label 'Description' %>
  <%= f.text_field :description %>

  <%= f.label :student_id %>
  <%= f.collection_select :student_id, @students, :id, :name %>

  <%= f.submit %>
<% end %>
